/* .input-wrapper {
  display: flex;
  gap: 20px;
  margin: 10vh;
} */

/* input,
.input-css {
  padding: 10px;
  background-color: rgb(245, 242, 242);
  color: grey;
  border: 1px solid grey;
} */

/* .table td,
tr,
tbody {
  width: auto;
  height: auto;
} */
